*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.boxBox{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerBox{
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 30px 80px -30px black;
}
.rightBox{
    width: 500px;
    height: 600px;
}
.leftBox{
    width: 500px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
#imgBox{
    position: absolute;
    left: -90px;
    top: 230px;
    z-index: 100;
}
#imgWoman{
    position: absolute;
    left: -90px;
    top: 100px;
    z-index: 20;
}
#imgBg{
    position: absolute;
    left: -585px;
    top: -260px;
}