*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
.boxBox{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerBox{
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 30px 80px -30px black;
}
.leftBox{
    width: 500px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
#imgBox{
    position: absolute;
    left: -90px;
    top: 230px;
    z-index: 100;
}
#imgWoman{
    position: absolute;
    left: -90px;
    top: 100px;
    z-index: 20;
}
#imgBg{
    position: absolute;
    left: -585px;
    top: -260px;
}
.rightBox{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quBox{
    width: 400px;
    position: relative;
}
h1{
    position: absolute;
    left: 23px;
    top: -50px;
}
ul{
    list-style: none;
}
li{
    margin: 25px;
}
.button{
    width: 100%;
    text-align: left;
    background-color: white;
    border: none;
    cursor: pointer;
    color: hsl(238, 29%, 16%);
    font-weight: bold;
}
.button:hover{
    color: hsl(14, 88%, 65%);
}
.arrowImg{
    float: right;
}
.introP{
    display: none;
    padding: 10px;
    transition: 0.4s ease-out;
    color: hsl(240, 6%, 50%);
}