*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.boxBox{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerBox{
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 25px;
}
.rightBox{
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.leftBox{
    width: 600px;
    height: 600px;
}
#imgBox{
    position: absolute;
}
#imgWoman{
    position: absolute;
    top: 100px;
}
#imgBg{
    position: absolute;
    left: -495px;
    top: -250px;
}